@media screen and (max-width: 1000px){

    .main-container {
        grid-template-columns: 1fr;
    }

    /* SIDE NAV BAR */
    .side-nav-bar {
        display: none;
    }

    /* INTRODUCTION PART */
    .home-content {
        flex-direction: column;
        align-items: center;
    }
    .hello {
        padding: 40px 15px;
        margin: 0px;
        margin-top: 5vh;
    }
    
    h1 {
        font-size: 60px;
    }

    .hello p {
        font-size: 30px;
    }

    h3 {
        font-size: 15px;
    }

    /* SOCIAL MEDIA LINKS */
    .social-media {
        padding: 25px;
    }

    .social-media img {
        height: 30px;
    }

    /* FOOTER */
    footer {
        font-size: 14px;
    }
}